body {
    background-color: rgb(230, 222, 212);
    /* background-image: url('/hanafudraw_complet.png'); */
    margin: 0;
  }

  .game {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }

  .bloc {
    height: 33.333%;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .carte {
    height: 117px;
    width: 70px;
    margin: 5px;
    background-color: rgb(136, 113, 82);
    /* background-position: 0px 0; */
  }

  .v {
    background-image: url('/hanafudraw_complete_edited.png');
  }

  .main {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .demi {
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
  }

  .right .carte {
    background-color: rgb(233, 210, 182);
    margin: 0;
  }

  #mid .board {
    display: flex;
    flex-direction: column;
    margin-left: 30vw;
  }

  #mid .board .rangee {
    display: flex;
  }

  .tas {
    background-color: rgb(71, 60, 44);
  }

  button {
    width: 100%;
    height: 100%;
    background-color: rgba(136, 113, 82, 0);
  }




  #c0101 {
    background-position: -240px 0;
  }
  
  #c0102 {
    background-position: -160px 0;
  }
  
  #c01RP {
    background-position: -80px 0;
  }
  
  #c01BB {
    background-position: 0px 0;
  }

  
  #c0201 {
    background-position: -240px -127px;
  }
  
  #c0202 {
    background-position: -160px -127px;
  }
  
  #c02RP {
    background-position: -80px -127px;
  }
  
  #c02A0 {
    background-position: 0px -127px;
  }

  
  #c0301 {
    background-position: -240px -254px;
  }
  
  #c0302 {
    background-position: -160px -254px;
  }
  
  #c03RP {
    background-position: -80px -254px;
  }
  
  #c03BC {
    background-position: 0px -254px;
  }

  
  #c0401 {
    background-position: -240px -381px;
  }
  
  #c0402 {
    background-position: -160px -381px;
  }
  
  #c04RR {
    background-position: -80px -381px;
  }
  
  #c04A0 {
    background-position: 0px -381px;
  }

  
  #c0501 {
    background-position: -240px -508px;
  }
  
  #c0502 {
    background-position: -160px -508px;
  }
  
  #c05RR {
    background-position: -80px -508px;
  }
  
  #c05A0 {
    background-position: 0px -508px;
  }

  
  #c0601 {
    background-position: -240px -635px;
  }
  
  #c0602 {
    background-position: -160px -635px;
  }
  
  #c06RV {
    background-position: -80px -635px;
  }
  
  #c06AC {
    background-position: 0px -635px;
  }

  
  #c0701 {
    background-position: -240px -762px;
  }
  
  #c0702 {
    background-position: -160px -762px;
  }
  
  #c07RR {
    background-position: -80px -762px;
  }
  
  #c07AI {
    background-position: 0px -762px;
  }

  
  #c0801 {
    background-position: -240px -889px;
  }
  
  #c0802 {
    background-position: -160px -889px;
  }
  
  #c08A0 {
    background-position: -80px -889px;
  }
  
  #c08BM {
    background-position: 0px -889px;
  }

  
  #c0901 {
    background-position: -240px -1016px;
  }
  
  #c0902 {
    background-position: -160px -1016px;
  }
  
  #c09RV {
    background-position: -80px -1016px;
  }
  
  #c09AW {
    background-position: 0px -1016px;
  }

  
  #c1001 {
    background-position: -240px -1143px;
  }
  
  #c1002 {
    background-position: -160px -1143px;
  }
  
  #c10RV {
    background-position: -80px -1143px;
  }
  
  #c10AS {
    background-position: -0px -1143px;
  }

  
  #c1101 {
    background-position: -240px -1270px;
  }
  
  #c11RR {
    background-position: -160px -1270px;
  }
  
  #c11A0 {
    background-position: -80px -1270px;
  }
  
  #c11BR {
    background-position: 0px -1270px;
  }

  
  #c1201 {
    background-position: -240px -1397px;
  }
  
  #c1202 {
    background-position: -160px -1397px;
  }
  
  #c1203 {
    background-position: -80px -1397px;
  }
  
  #c12BD {
    background-position: 0px -1397px;
  }

  .right {
    justify-content: flex-end;
    margin-bottom: 25px;
  }

  .depo_card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  .plain_depo {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
  }

  .types_depo {
    display: flex;
  }

  .type {
    margin-left: 20px;
  }

  .ribbons {
    display: flex;
    flex-direction: row-reverse;
  }

  .animals {
    display: flex;
    flex-direction: row-reverse;
  }

  .brights {
    display: flex;
    flex-direction: row-reverse;
  }
