#root {
  width: 100%;
  height: 100vh;
}

.card, .cards {
  padding: 2em;
  height: 64px;
  width: 17px;
  margin: 10px;
}

.cards {
  background-color: darkblue;
}

.main {
  display: flex;
  height: 100%;
}

.board {
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: green;
}

.river {
  display: flex;
}

.ennemy-hand, .ally-hand {
  display: flex;
}


.shared-board {
  display: flex;
}

.collection {
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: lightblue;
}

.ennemy-collection {
  height: 50%;
  background-color: red;
}

.ally-collection {
  height: 50%;
  background-color: pink;
}
